
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        {% for melon_each in melon %}
        <tbody>
        <tr>
            <td>{{ melon_each.common_name }}</td>
            <td>{{ melon_each.count }}</td>
            <td>${{ "%0.2f" | format(melon_each.price) }}</td>
            <td>${{ "%0.2f" | format(melon_each.total_cost) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ "%0.2f" | format(order_total) }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}